body {
  margin: 0;
}

#bg {
  background-image: url("../0424 position ex1/img/bg.jpg");
  background-size: contain;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
/*Zoe*/
.pin {
  width: 30px;
  position: absolute;
  right: 580px;
  top: 200px;
}

/*.pin:hover {
  width: 40px;
  position: absolute;
  transition: 3s
  right: 580px;
  top: 200px;
} */

.pin2 {
  width: 60px;
  position: absolute;
  right: 500px;
  top: 180px;
}

.pin3 {
  width: 70px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.textcontainer {
  width: 100%;
  height: 500px;
}

.header {
  text-align: Center;
  color: rgb(245, 92, 31);
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  line-height: 0.1em;
}

.intro {
  padding: 0 20px;
  color: grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5em;
}

.img {
  background-image: url("../0424 position ex1/img/RM.png");
  background-size: cover;
  background-position: right;
}
